.soc_med {
	width: 15%;
	margin-left: 12.5%;
	float: left;
	padding-bottom: 10px;
}

.soc_med_2 {
	position: relative;
	width: 15%;
	float: left;
	margin-left: 0;
	margin-right: 0;
}

.soc_med_3 {
	position: relative;
	float: left;
	width: 15%;
	margin-left: 0;
	margin-right: 12.5%;
}
